* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "museo-sans", sans-serif;
  color: #444; }

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%; }

#navbar {
  height: 60px;
  z-index: 99;
  position: relative;
  background: white;
  border-bottom: 1px solid #166373;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  width: 100%; }
  #navbar div {
    display: inline-block;
    line-height: 60px; }
  #navbar .logo {
    float: left;
    padding: 0 30px;
    border-right: 1px solid #eee; }
  #navbar .searchbar {
    padding: 0 30px; }
  #navbar .navbutton {
    float: right;
    padding: 0 30px;
    border-left: 1px solid #eee; }
  #navbar .navbutton:hover {
    color: #166373;
    transition: color .3s; }

.maincontain {
  z-index: 1;
  padding: 15px;
  background: #eee; }
  .maincontain #contactInfo {
    padding: 30px; }
    .maincontain #contactInfo .profilePicture {
      width: 165px;
      height: 165px;
      border-radius: 165px;
      display: inline-block;
      vertical-align: top;
      overflow: hidden; }
    .maincontain #contactInfo .profileInformation {
      display: inline-block;
      vertical-align: top;
      width: 270px;
      margin-left: 25px; }
      .maincontain #contactInfo .profileInformation h1 {
        margin-top: 0; }
      .maincontain #contactInfo .profileInformation .label {
        margin: 15px 0 5px;
        color: #9B9B9B; }
  .maincontain .card {
    vertical-align: top;
    margin: 15px;
    background: white;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    min-width: 520px;
    font-weight: 100; }
    .maincontain .card .cardTitle {
      border-bottom: 1px solid #166373;
      line-height: 60px;
      padding: 0 30px; }
      .maincontain .card .cardTitle h2 {
        margin: 0;
        font-weight: 300;
        font-size: 24px; }
    .maincontain .card .cardBody {
      padding: 30px; }
      .maincontain .card .cardBody .appRow {
        margin: 16px 0;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        font-weight: 100;
        padding-bottom: 5px; }
        .maincontain .card .cardBody .appRow .jobtitle {
          color: #166373;
          font-size: 18px;
          padding-bottom: 5px; }
        .maincontain .card .cardBody .appRow .company {
          vertical-align: bottom;
          display: inline-block;
          width: 33%; }
        .maincontain .card .cardBody .appRow .distance {
          vertical-align: bottom;
          display: inline-block;
          width: 33%;
          text-align: center; }
        .maincontain .card .cardBody .appRow .status {
          vertical-align: bottom;
          display: inline-block;
          width: 33%;
          text-align: right; }
      .maincontain .card .cardBody .appRow:first-of-type {
        margin-top: 0; }
      .maincontain .card .cardBody .appRow:last-of-type {
        margin-bottom: 0; }

.dg_button {
  font-family: museo-slab, sans-serif;
  font-weight: 300;
  color: white;
  background: #166373;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background .3s; }

.dg_button:hover {
  background: #0BB78C; }

.actionRequired {
  display: inline-block;
  height: 37px;
  margin-bottom: 10px; }
  .actionRequired img {
    width: 46px;
    vertical-align: middle; }
  .actionRequired span {
    color: #F5A623;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 8px; }

.italText {
  font-weight: 100;
  font-style: italic;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
