* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "museo-sans", sans-serif;
  color: #444;
  background: #eee; }

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%; }

#navbar {
  height: 60px;
  z-index: 99;
  position: fixed;
  background: white;
  border-bottom: 1px solid #166373;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  width: 100%; }
  #navbar div {
    display: inline-block;
    line-height: 60px; }
  #navbar .logo {
    float: left;
    padding: 0 30px;
    border-right: 1px solid #eee; }
  #navbar .searchbar {
    padding: 0 30px; }
  #navbar .navbutton {
    float: right;
    padding: 0 30px;
    border-left: 1px solid #eee; }
  #navbar .navbutton:hover {
    color: #166373;
    transition: color .3s; }

.maincontain {
  z-index: 1;
  padding: 75px 30px 30px;
  background: #eee;
  max-width: 767px; }
  .maincontain #contactInfo {
    padding: 30px; }
    .maincontain #contactInfo .profilePicture {
      width: 165px;
      height: 165px;
      border-radius: 165px;
      display: inline-block;
      vertical-align: top;
      overflow: hidden; }
    .maincontain #contactInfo .profileInformation {
      display: inline-block;
      vertical-align: top;
      width: 270px;
      margin-left: 25px; }
      .maincontain #contactInfo .profileInformation h1 {
        margin-top: 0;
        font-size: 30px; }
      .maincontain #contactInfo .profileInformation .label {
        margin: 15px 0 5px;
        color: #9B9B9B; }
  .maincontain .card {
    vertical-align: top;
    background: white;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #9B9B9B;
    width: 100%;
    font-weight: 100; }
    .maincontain .card .cardTitle {
      border-bottom: 1px solid #166373;
      line-height: 60px;
      padding: 0 30px; }
      .maincontain .card .cardTitle h2 {
        margin: 0;
        font-weight: 300;
        font-size: 24px;
        line-height: 60px; }
    .maincontain .card .cardBody {
      padding: 30px; }
      .maincontain .card .cardBody .six.columns {
        margin-left: 15px; }
      .maincontain .card .cardBody .six.columns:first-of-type {
        margin-left: 0; }
      .maincontain .card .cardBody .appRow {
        margin: 16px 0;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        font-weight: 100;
        padding-bottom: 5px; }
        .maincontain .card .cardBody .appRow .jobtitle {
          color: #166373;
          font-size: 18px;
          padding-bottom: 5px; }
        .maincontain .card .cardBody .appRow .company {
          vertical-align: bottom;
          display: inline-block;
          width: 33%; }
        .maincontain .card .cardBody .appRow .distance {
          vertical-align: bottom;
          display: inline-block;
          width: 33%;
          text-align: center; }
        .maincontain .card .cardBody .appRow .status {
          vertical-align: bottom;
          display: inline-block;
          width: 33%;
          text-align: right; }
      .maincontain .card .cardBody .appRow:first-of-type {
        margin-top: 0; }
      .maincontain .card .cardBody .appRow:last-of-type {
        margin-bottom: 0; }

.dg_button {
  font-family: museo-slab, sans-serif;
  font-weight: 300;
  color: white;
  background: #166373;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background .3s;
  max-width: 270px; }

.dg_button:hover {
  background: #0BB78C; }

.actionRequired {
  display: inline-block;
  height: 37px;
  margin-bottom: 10px; }
  .actionRequired img {
    width: 46px;
    vertical-align: middle; }
  .actionRequired span {
    color: #F5A623;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 8px; }

.italText {
  font-weight: 100;
  font-style: italic;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 15px; }

label {
  font-size: 14px;
  font-weight: 100; }

input, option, select {
  font-size: 16px;
  line-height: 23px; }

.or {
  text-align: center;
  color: #9B9B9B;
  margin: 25px 0; }
  .or div {
    width: 40%;
    height: 0;
    border-bottom: 1px solid #9B9B9B;
    display: inline-block;
    vertical-align: middle; }
  .or div:first-of-type {
    margin-right: 5px; }
  .or div:last-of-type {
    margin-left: 5px; }

.refRelation {
  text-align: center;
  margin: 15px 0;
  margin-left: 0 !important; }
  .refRelation img {
    max-width: 70px;
    margin: auto; }

.subhead {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px; }

.availabilityWrapper {
  margin-bottom: 30px;
  max-width: 281px; }
  .availabilityWrapper img {
    width: 30%;
    vertical-align: middle; }
  .availabilityWrapper div {
    display: inline-block;
    margin-left: 5%;
    width: 65%;
    vertical-align: middle;
    font-weight: 700;
    color: #166373; }
  .availabilityWrapper .off {
    color: #8B0202; }

.availabilityWrapper:last-of-type {
  margin-bottom: 0; }

@media (min-width: 603px) {
  .margin-override {
    margin: 15px; } }
@media (max-width: 602px) {
  .maincontain {
    padding: 75px 5px 30px 5px; }
    .maincontain .card {
      margin-bottom: 5px; }
      .maincontain .card .cardBody .six.columns {
        margin-left: 0; }

  .dg_button {
    width: 100%;
    max-width: 602px; }

  .refRelation {
    width: 25%; }

  .subhead {
    margin-top: 40px; }

  .subhead.weekdays {
    margin-top: 0; } }
@media (max-width: 608px) {
  .maincontain #contactInfo .profilePicture {
    display: block;
    margin-bottom: 15px; }
  .maincontain #contactInfo .profileInformation {
    text-align: left;
    margin-left: 0;
    width: 100%; } }
@media (min-width: 1160px) {
  .maincontain {
    max-width: 9000px;
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px; } }

/*# sourceMappingURL=style.css.map */
